@model OnlineShop.Models.Products

@{
    ViewData["Title"] = "Edit";
}

<br />
@* <style>
    label.error {
        color: red;
    }
</style> *@
<h2 class="text-info">Edit Product</h2>
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>

        <div class="col-8">
            <div class="form-group row mb-2">
                <div class="col-4">
                    <input type="hidden" asp-for="Id"/>
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="Image"></label>
                </div>
                <div class="col-8">
                    @if (ViewData["ExistingImage"] != null)
                    {
                        <input type="hidden" asp-for="Image" value="@ViewData["ExistingImage"]" />
                    }
                    <input asp-for="Image" class="form-control" type="file" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="ProductColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductColor" class="form-control" />
                    <span asp-validation-for="ProductColor" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="ProductTypeId"></label>
                </div>
                <div class="col-8">
                    <select asp-for="ProductTypeId" asp-items="ViewBag.ProductTypeId" class="form-control"></select>
                    <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="SpecialTagId"></label>
                </div>
                <div class="col-8">
                    <select asp-for="SpecialTagId" asp-items="ViewBag.SpecialTagId" class="form-control"></select>
                    <span asp-validation-for="SpecialTagId" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label asp-for="IsAvailable"></label>
                </div>
                <div class="col-8">
                    <input asp-for="IsAvailable" class="" type="checkbox" />
                    <span asp-validation-for="IsAvailable" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Update" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img style="width:100%;border-radius:5px;border:1px solid #efefef" src="~/@Url.Content(ViewData["ExistingImage"].ToString())" />
        </div>

       
    </div>
</form>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

