
@{
    ViewData["Title"] = "Assigned User Role";
}
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Assigned User Role</h2>
    </div>
   
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>User Name</th>

            <th>Role Name</th>


        </tr>
        @foreach (var role in ViewBag.UserRoles)
        {
            <tr>
                <td>@role.UserName</td>
                <td>@role.RoleName</td>

            </tr>
        }
    </table>
</div>
