@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Roles</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-info text-white"><i class="fa-solid fa-plus"></i>&nbsp;New Role</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>Name</th>

            <th></th>
            <th></th>

        </tr>
        @foreach (var role in ViewBag.Roles)
        {
            <tr>
                <td>@role.Name</td>
                <td></td>
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.IsInRole("superadmin"))
                    {
                        <td class="d-flex justify-content-end">
                            <div>
                                <a asp-action="Edit" asp-route-id=@role.Id class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a asp-action="Delete" asp-route-id=@role.Id class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                            </div>
                        </td>
                    }
                    else
                    {
                        if (role.Name != "superadmin")
                        {
                            <td class="d-flex justify-content-end">
                                <div>
                                    <a asp-action="Edit" asp-route-id=@role.Id class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <a asp-action="Delete" asp-route-id=@role.Id class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td></td>
                        }
                    }
                }
            </tr>
        }
    </table>
</div>
@if (TempData["Save"] != null)
{
    <script type="text/javascript">
        $(function () {
            alertify.success('@TempData["Save"]');
        });
    </script>
}
@if (TempData["Update"] != null)
{
    <script type="text/javascript">
        $(function () {
            alertify.success('@TempData["Update"]');
        });
    </script>
}
@if (TempData["Delete"] != null)
{
    <script type="text/javascript">
        $(function () {
            alertify.error('@TempData["Delete"]');
        });
    </script>
}